body {
  font-family: Arial, sans-serif;
  margin: 80px 0 0;
  line-height: 1.5rem;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__title {
  width: 100%;
  color: #333;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.section__description {
  width: 100%;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.title {
  font-family: 'Times New Roman', serif;
  font-size: 24px;
  text-transform: uppercase;
}

.contacts {
  margin: 20px;
}

.contacts address {
  font-style: normal;
}

.contacts a {
  color: black;
  text-decoration: none;
}

.intro {
  height: 30vw;
  min-height: 300px;
  background-image: url('images/bg.jpg');
  background-position:20% center;
  background-size: cover;
}

.offer {
  display: flex;
}

.offer__col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.offer__card {
  border: 1px solid #4aad3b;
  border-radius: 5px;
  padding: 20px;
  margin: 40px 20px 0;
  font-size: 26px;
  line-height: 37px;
  font-weight: bold;
  flex: 1;
}

.offer__accent {
  font-size: 200px;
  line-height: 210px;
  color: #4aad3b;
}

table {
  display: none;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid black;
  text-align: center;
}

.comparison__cell {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.comparison__cell--param {
  font-weight: bold;
}

.comparison__cell--eco {
  background-color: rgba(74, 173, 59, 0.2);
}

.comparison__cell--gas {
  background-color: rgba(255, 161, 14, 0.2);
}

.advantages li {
  list-style: none;
  margin-bottom: 20px;
}

.advantages li::before {
  content: url('images/advantages-icon.png');
}

.use {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.use__card {
  width: 250px;
  padding: 20px;
  text-align: center;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog__card {
  width: 250px;
  margin-right: 40px;
  margin-bottom: 40px;
  border: 1px solid #d2d1d1;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.catalog__img {
  height: 160px;
}

.catalog__info {
  text-align: left;
}

.catalog__price {
  font-weight: bold;
}

.docs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.docs__img {
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;
}

@media (min-width: 716px) {
  .comparison__row {
    display: table-row;
  }
  
  .comparison__cell {
    display: table-cell;
  }
  
  .comparison__cell--eco,
  .comparison__cell--gas {
    width: 40%;
  }
}

@media (max-width: 715px) {
  body {
    margin-top: 0;
  }

  header {
    position: initial;
    box-shadow: none;
  }

  header .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section__title {
    margin-top: 20px;
    font-size: 28px;
  }

  .offer {
    display: block;
  }

  .offer__card {
    margin: 20px 0 0;
    font-size: 20px;
    line-height: 28px;
  }

  .advantages ul {
    padding: 0;
  }

  .catalog__card {
    width: 100%;
    margin-right: 0;
  }

  .docs {
    justify-content: center;
  }
}
