body {
  font-family: Arial, sans-serif;
  margin: 80px 0 0;
  line-height: 1.5rem;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__title {
  width: 100%;
  color: #333;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.section__description {
  width: 100%;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.price {
  font-weight: bold;
}

.price--old {
  display: inline-block;
  opacity: 0.5;
  transform: scale(0.8);
  text-decoration: line-through;
}

.price--new {
  color: red;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
}

.title {
  font-family: 'Times New Roman', serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #4aad3b;
}

.contacts {
  margin: 20px;
}

.contacts address {
  font-style: normal;
}

.contacts a {
  color: black;
  text-decoration: none;
}

.intro {
  background-image: url('images/bg.jpg');
  background-position:center;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 40px;
}

.offer {
  display: flex;
}

.offer__important {
  color: red;
  font-weight: bold;
}

.offer__col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.offer__card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 20px;
  margin: 40px 20px 0;
  font-size: 26px;
  line-height: 37px;
  flex: 1;
}

.offer__accent {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  color: #4aad3b;
}

.offer__accent--big {
  font-size: 200px;
  line-height: 210px;
}

table {
  display: none;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid black;
  text-align: center;
}

.comparison__cell {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.comparison__cell--param {
  font-weight: bold;
}

.comparison__cell--eco {
  background-color: rgba(74, 173, 59, 0.2);
}

.comparison__cell--gas {
  background-color: rgba(255, 161, 14, 0.2);
}

.advantages li {
  position: relative;
  margin-left: 40px;
  list-style: none;
  margin-bottom: 20px;
}

.advantages li::before {
  content: url('images/check-icon.png');
  position: absolute;
  top: 0;
  left: -40px;
}

.use {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.use__card {
  width: 250px;
  padding: 20px;
  text-align: center;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog__card {
  width: 250px;
  margin-right: 40px;
  margin-bottom: 40px;
  border: 1px solid #d2d1d1;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.catalog__img {
  height: 160px;
}

.catalog__info {
  text-align: left;
}

.docs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.docs__img {
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;
}

#contact {
  padding: 50px 15px;
  background: #6195C1;
  text-align: center;
}
#contact h2 {
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 500;
}
#contact-form {
  max-width: 500px;
  margin: 0 auto;
}
#contact-form input,
#contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #2C5B82;
  color: #fff;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}
#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
  color: #fff;
}
#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
  color: #fff;
}
#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  background: #0E3555;
}
#contact-form textarea {
  height: 150px;
  resize: none;
}
#contact-form button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #3498db;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
              0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}
#contact-form button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 716px) {
  .logo {
    margin-right: 20px;
  }

  .comparison__row {
    display: table-row;
  }
  
  .comparison__cell {
    display: table-cell;
  }
  
  .comparison__cell--eco,
  .comparison__cell--gas {
    width: 40%;
  }
}

@media (max-width: 715px) {
  body {
    margin-top: 0;
  }

  header {
    position: initial;
    box-shadow: none;
    padding-top: 10px;
  }

  header .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section__title {
    margin-top: 20px;
    font-size: 28px;
  }

  .intro {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .offer {
    display: block;
  }

  .offer__card {
    margin: 20px 0 0;
    font-size: 20px;
    line-height: 28px;
  }

  .advantages ul {
    padding: 0;
  }

  .catalog__card {
    width: 100%;
    margin-right: 0;
  }

  .docs {
    justify-content: center;
  }
}
